<nav class="blue-grey lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a class="navbar-brand" href="/members">
            Go back
        </a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4>Welcome to Your Food/Recipe Plan : <i><b><span class="member-name"></span></h2></i></b>   
        </div>
    </div>   
</div>