<nav class="blue-grey lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a class="navbar-brand" href="/members">
            Go back
        </a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4>Welcome to Your Food Search : <i><b><span class="member-name"></span></h2></i></b>
                <form class="food-search-form col s12 l12">
                    <div class="row">
                        <div class="input-field col s4">
                            <select class="diet-option">
                                <option value="0" selected>No diet</option>
                                <option value="2">Diet 2</option>
                                <option value="3">Diet 3</option>
                                <option value="4">Diet 4</option>
                            </select>
                            <label>Dietary-Option</label>
                        </div>
                        <div class="input-field col s4 food-name-input">
                            <input placeholder="Type a name of a dish or food here..." id="food-name" type="text"
                                class="validate">
                            <label for="food-name">Food Name</label>
                        </div>
                        <div class="col s2">
                            <button class="btn waves-effect waves-light search-btn" type="submit" name="action">Search
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <h4>Click or Tap on the pictures for their <i>ingredients</i></h4>
                </div>
                <div class="row cards-table">
                </div>
        </div>
    </div>
</div>