<nav class="blue-grey lighten-4" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">Forage</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/login">Log on</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="/login">Log in</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
<body>

    <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 id="forage" class="header center green-text text-lighten-2">Forage</h1>
        <div class="row center">
          <h5 class="header col s12 light black-text">A Social Meal Planning Ecosystem</h5>
        </div>
        <div class="row center">
          <a href="/signup" id="download-button" class="btn-large waves-effect waves-light green lighten-1">Sign Up</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../public/images/pineapple-supply-co-VHpDp_GkGgc-unsplash.jpg" alt="Unsplashed background img 1"></div>
  </div>

<div class="container lime lighten-5">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center green-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center mini-titles">Quickly build Meal-plans</h5>

            <p class="light">Utilize our state of the art web application to search for specific foods or meals in a flash. Build your own complete meal plans in minutes!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center green-text"><i class="material-icons">group</i></h2>
            <h5 class="center mini-titles">Socialize with other Foragers</h5>

            <p class="light">Everything is better with others! Make use of our built in social network to share your meal plans with friends and see how they are using Forage to enhance their lives!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center green-text"><i class="material-icons">settings</i></h2>
            <h5 class="center mini-titles">Estimate your calorie Needs</h5>

            <p class="light">Knowing where to start with a diet or meal plan is hard. Dont worry, we make it easy. Enter in basic your basic information for a quick estimate of your calorie needs based on your goal. You can use your calorie estimate to help guide the formation of your meal plan. </p>
          </div>
        </div>
      </div>

    </div>
  </div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light black-text">Ready to give it a try Forager? Click the Sign Up button above.. It's Free!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row lime lighten-5">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="center-align light">You can reach us by emailing: support@forage.com</p>
        </div>
      </div>

    </div>
  </div>

    <footer class="page-footer blue-grey lighten-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">
                        We are a team of college students working on this project like
                        it's our full time job. Any amount would help support and
                        continue development on this project and is greatly appreciated.
                    </p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Github</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
</div>
</footer>
</div>
</body>