<nav class="blue-grey lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a class="navbar-brand" href="/logout">
      Logout
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/food-search">Search Food</a></li>
      <li><a href="/view-all">Check your Food</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="/food-search">Search Food</a></li>
      <li><a href="/view-all">Check your Food</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Welcome, <span class="member-name"></span></h2>
    </div>
  </div>
</div>

<main>
  <div class="container">
    <div class="row">
      <h1>Calorie Calculator</h1>

      <hr>
      <br>


      <section>

        <h3>Lets Get Started by Entering in the Following Information:</h3>

        <!-- Gender Box -->

        <div class="input-field col s12">
          <select id="select">
            <option value="" disabled selected>Choose your option</option>
            <option id="male" value="male">Male</option>
            <option id="female" value="female">Female</option>
          </select>
          <label>Gender</label>
        </div>

        <!-- Age Box -->
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="123" type="text" class="validate" pattern="number" name="age" id="age">
                <label for="age">Age</label>
              </div>
            </div>
          </form>
        </div>


        <!-- Height Box -->
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="5ft = 60 inches" type="text" class="validate" pattern="number" name="height"
                  id="height">
                <label for="age">Height in Inches</label>
              </div>
            </div>
          </form>
        </div>

        <!-- Weight Box -->
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="123" type="text" class="validate" pattern="number" name="weight" id="weight">
                <label for="age">Weight in Pounds</label>
              </div>
            </div>
          </form>
        </div>

        <!-- Activity Box -->
        <div class="input-field col s12">
          <select id="af">
            <option value="" disabled selected>Choose your option</option>
            <option value="1.15">Sedentary: little or no exercise</option>
            <option value="1.2">Light Activity: 1 to 3 hours of exercise or sports per week</option>
            <option value="1.4">Moderate Activity: 4 to 6 hours of exercise or sports per week</option>
            <option value="1.6">Very Active: 7 to 9 hours of exercise or sports per week</option>
            <option value="1.8">Extra Active: 10+ hours of exercise or sports per week</option>
          </select>
          <label name="af">Activity Factor</label>
        </div>

      </section>





      <!-- Goal Buttons -->

      <section class="container-dos">
        <h3>What is your goal?</h3>

        <div class="btns" id="goal-buttons">
          <a id="loss-button" class="waves-effect waves-light btn-large"><i
              class="material-icons left">trending_down</i>Weight Loss</a>
          <a id="maintain-button" class="waves-effect waves-light btn-large">Maintain Current Weight</a>
          <a id="gain-button" class="waves-effect waves-light btn-large"><i
              class="material-icons right">trending_up</i>Weight Gain</a>
        </div>
        <br>
        <hr>

        <div class="input-box">
          <div class="btns">
            <form>
              <div class="callout success">
                <h4>This is your calorie needs based on the goal you selected:</h4>
                <p name="mifflin" id="mifflin"></p>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
    <br>
    <hr>
  </div>
</main>