<nav class="blue-grey lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a class="navbar-brand" href="/logout">
            Logout
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/food-search">Search Food</a></li>
            <li><a href="#">Check your Food</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="/food-search">Search Food</a></li>
            <li><a href="#">Check your Food</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Welcome, <span class="member-name"></span></h2>
        </div>
    </div>
</div>