<nav class="blue-grey lighten-4" role="navigation">
  <div class="nav-wrapper container row">
    <img id="mini-logo" src="./images/Forage.png" alt="Forage Logo">
    <a id="logo-container" href="/members" class="brand-logo">Forage</a>
    <ul class="right hide-on-med-and-down col s7">
      <li><a href="/food-search">Search Food</a></li>
      <li><a href="/view-all">Check your Food</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav right">
      <li><a href="/food-search">Search Food</a></li>
      <li><a href="/view-all">Check your Food</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>

    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 welcome-banner">
      <h5>Welcome, <span class="member-name" data-id="{{id}}"></span></h5>
    </div>
  </div>
</div>

<main>

  <div id="index-banner" class="parallax-container">
    <div class="section" id="main">
      <div class="container">
        <br>
        <hr>

        <div class="row">
          <div id="calc-card" class="card large col l4 m6 s12">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator responsive-img" src="images\foodcalc.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Calorie Calculator<i
                  class="material-icons right">more_vert</i></span>
              <p class="black-text">This widget will help you calculate your calorie needs based on the Mifflin - St Jeor formula.</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Calorie Calculator<i
                  class="material-icons right">close</i></span>

              <section>
                <h4 class="black-text">Lets Get Started by Entering in the Following Information:</h4>
                <!-- Gender Box -->
                <div class="input-field col s12">
                  <select id="select">
                    <option value="" disabled selected>Choose your option</option>
                    <option id="male" value="male">Male</option>
                    <option id="female" value="female">Female</option>
                  </select>
                  <label>Gender</label>
                </div>
                <!-- Age Box -->
                <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s6">
                        <input placeholder="123" type="text" class="validate" pattern="number" name="age" id="age">
                        <label for="age">Age</label>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- Height Box -->
                <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s6">
                        <input placeholder="5ft = 60 inches" type="text" class="validate" pattern="number" name="height"
                          id="height">
                        <label for="age">Height in Inches</label>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- Weight Box -->
                <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s6">
                        <input placeholder="123" type="text" class="validate" pattern="number" name="weight"
                          id="weight">
                        <label for="age">Weight in Pounds</label>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- Activity Box -->
                <div class="input-field col s12">
                  <select id="af">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1.15">Sedentary: little or no exercise</option>
                    <option value="1.2">Light Activity: 1 to 3 hours of exercise or sports per week</option>
                    <option value="1.4">Moderate Activity: 4 to 6 hours of exercise or sports per week</option>
                    <option value="1.6">Very Active: 7 to 9 hours of exercise or sports per week</option>
                    <option value="1.8">Extra Active: 10+ hours of exercise or sports per week</option>
                  </select>
                  <label name="af">Activity Factor</label>
                </div>
              </section>
              <!-- Goal Buttons -->
              
              <br>
              <section class="container-dos">
                <h4 class="black-text">What is your goal?</h4>
                <div class="btns" id="goal-buttons">
                  <a id="loss-button" class="waves-effect waves-light btn-large"><i
                      class="material-icons left">trending_down</i>Weight Loss</a>
                  <a id="maintain-button" class="waves-effect waves-light btn-large">Maintain Current Weight</a>
                  <a id="gain-button" class="waves-effect waves-light btn-large"><i
                      class="material-icons right">trending_up</i>Weight Gain</a>
                </div>
                <br>
                <hr>
                <div class="input-box">
                  <div class="btns">
                    <form>
                      <div class="callout success">
                        <h4 class="black-text">This is your calorie needs based on the goal you selected:</h4>
                        <h3 class="black-text" name="mifflin" id="mifflin"></h3>
                      </div>
                    </form>
                  </div>
                </div>
              </section>

            </div>
          </div>

          <div id="calc-card" class="card large col l4 m6 s12">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images\pineapple-supply-co-VHpDp_GkGgc-unsplash (1).jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><i
                  class="material-icons right">more_vert</i><a href="/food-search" class="waves-effect waves-light btn center-alig">Food Search</a></span>
                  <p class="black-text">This takes you to our Food Search page. There you can search for specific foods and add them to your custom meal plan.</p>
              <p></p>
              
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i
                  class="material-icons right">close</i></span>
              <p class="black-text"><a href="/food-search" class="waves-effect waves-light btn-large center-align">Food Search</a></p>
              
            </div>
          </div>

          <div id="calc-card" class="card large col l4 m6 s12">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/lily-banse--YHSwy6uqvk-unsplash.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><i
                  class="material-icons right">more_vert</i><a href="/view-all" class="waves-effect waves-light btn center-align">Meal Plans</a></span>
              <p class="black-text">This will take you to your current Meal Plan. Which is sorted into breakfast, lunch, dinner, and snack categories.</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i
                  class="material-icons right">close</i></span>
              <a href="/view-all" class="waves-effect waves-light btn-large center-align">Meal Plans</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col l12 m12 s12">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>

      <div class="parallax img-responsive"><img src="images/lukas-blazek-f-TWhXOrLiU-unsplash.jpg"
          alt="Unsplashed background img 1"></div>
    </div>
  </div>

  <footer class="page-footer blue-grey lighten-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Members Page</h5>
          <p class="grey-text text-lighten-4">
            Here you have access to account settings and other useful tools for your Forage account
          </p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</main>

<script type="text/javascript" src="/js/members.js"></script>
<script type="text/javascript" src="/js/chart.js"></script>