#main-logo {
  height: 625px;
  width: 400px;
  border-radius: 15px;
}

.welcome-banner {
  text-align: center;
}

.welcome-banner h5 {
  font-size: 3rem;
}

#mini-logo {
  margin-top: 0.5rem;
  margin-right: 1rem;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

#foodblock {
  background-image: "images/lukas-blazek-f-TWhXOrLiU-unsplash.jpg";
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

main {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer.page-footer {
  margin: 0;
}

#forage,
.brand-logo {
  font-family: "Permanent Marker", cursive;
}

.mini-titles {
  font-family: "Permanent Marker", cursive;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }

  .parallax-container {
    margin: 2rem;
  }

  #main-logo {
    height: 375px;
    width: 250px;
  }

  #mini-logo {
    margin-top: 0.5rem;
  }
}

#calc-card {
  max-width: 500px;
}

.github-link {
  padding: 2px 5px 2px 5px;
  background-color: rgba(167, 255, 174, 0.6);
  border-radius: 50%;
}

.github-link:hover {
  background-color: green;
}
